<main class="index">
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <img src="https://static.vecteezy.com/system/resources/thumbnails/009/900/509/small/pizza-cafe-logo-pizza-icon-illustration-graphic-emblem-pizza-of-perfect-for-fast-food-restaurant-simple-flat-style-pizza-logo-vector.jpg" width="200px">
      <h3 class="mb-5">
        <em>Crea Tu Pizza</em>
      </h3>
      <a href="/links/add" class="btn btn-primary">
        Empieza
      </a>
    </div>
  </header>
</main>
