body {
  padding: 50px;
  background-color: #bb6621;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}

img{
  padding: 5px;
  border-radius: 15px;
}

a {
  color: #020e74;
}
